body {
  margin: 0;
  background-color: #ffa680;
  font-family: sans-serif;
}

.reset-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.reset-title {
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  font-weight: bold;
  margin-bottom: 40px;
  color: #000;
}

.reset-password-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.reset-password-form label {
  margin-bottom: 5px;
  font-size: 20px;
  margin-bottom: 15px;
}

.reset-password-form input {
  margin-bottom: 30px;
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.reset-password-form button {
  padding: 10px;
  font-size: 16px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

.reset-password-form button:hover {
  background-color: #333;
}

.error-message,
.success-message {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}